.cdk-drag-preview {
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  border-radius: 4px;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

[style*="width"] {
  will-change: width;
}

.select-none {
  user-select: none;
  -webkit-user-select: none;
}